body{
    font-family: Roboto, Helvetica, Arial;
    background-color: #fbfbfbe5;
}
a.nav_link{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
a.button_link{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
a.button_link_alt{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav{
    text-align: center;
    padding-top: 3.5%;
    padding-bottom: 20px;
    width: 100%;
    margin: auto;
}
ul{
    display: inline;
}
li{
    background-color: rgb(242, 178, 3);;
    padding: 10px;
    display: inline-block;
    border-radius: 8px;
}
#title{
    text-align: center;
    line-height: 120%;
    top: 0%;
    left: 0%;
    width: 15%;
    margin-top: 20px;
    border-radius: 8px;
    position: absolute;
}
#page_header{
    text-align: center;
    font-weight: 900;
    font-size: 40px;
}
#page_header_error{
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    color: red;
}
#page_mainbody{
    text-align: center;
    line-height: 100%;
    font-size: 22px;
    background-color: #fbfbfbe5;
    border: 4px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    margin: auto;
    margin-bottom: 20px;
    width: 75%;
    color: black;
}
#page_mainbody_home{
    text-align: center;
    line-height: 100%;
    font-size: 28px;
    background-color: #fbfbfbe5;
    border: 4px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    margin: auto;
    margin-bottom: 20px;
    width: 75%;
    color: black;
}
#home_image{
    width: 62.2%;
    height: auto;
    margin: auto;
    margin-bottom: 1%;
    border: 8px solid black;
    border-radius: 8px;
    display: block;
}
img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}
#logo_image{
    max-width: 50%;
    max-height: 50%;
    margin: auto;
    display: block;
}
br{
    display: block !important;
}
.button{
    background-color: black;
    display: inline-block;
    border: 10px solid black;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}
#button_alt{
    background-color: black;
    display: inline;
    border: 10px solid black;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}
.search_button{
    background-color: black;
    border: 10px solid black;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    display: inline;
}
.textbox{
    border: 5px solid white;
    border-radius: 8px;
    width: 25%;
    text-align: center;
    font-size: 16px;
}
#list_item{
    text-align: center;
    line-height: 100%;
    color: black;
    font-size: 22px;
    background-color: white;
    border: 4px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    margin: auto;
    width: 75%;
    padding-bottom: 20px;
    margin-bottom: 50px;
}
#review_item{
    text-align: center;
    line-height: 100%;
    color: black;
    font-size: 22px;
    background-color: white;
    border: 4px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    margin: auto;
    width: 50%;
    padding-bottom: 20px;
    margin-bottom: 50px;
}
.hidden{
    display: none;
}
#review_box{
    border: 5px solid white;
    border-radius: 8px;
    width: 50%;
    height: 300px;
    text-align: center;
    font-size: 16px;
    resize: none;
    font-family: Roboto, Helvetica, Arial;
}
select{
    border: 5px solid white;
    border-radius: 8px;
    font-family: Roboto, Helvetica, Arial;
    font-size: 18px;
    margin-left: 2%;
    text-align: center;
}
.checkybox{
    width: 20px;
    height: 20px;
    margin-left: 2%;
}
#acc_manage{
    position: absolute;
    text-align: center;
    padding-top: 3.9%;
    width: 100%;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    pointer-events: none;
}
#nav_login_button{
    margin-left: 80%;
    pointer-events: all !important;
}
#nav_logout_button{
    pointer-events: all !important;
}
#hidden_stillaffect{
    visibility: hidden;
}
#hidden_noaffect{
    display: none;
}
#provider_list{
    width: auto;
}
#provider_search_result{
    margin-left: 43%;
}
#search_options{
    margin: auto;
    width: 40%;
    float: left;
}
table, th, td{
    border: 1px solid;
    border-radius: 8px;
    margin: auto;
    padding: 5px;
}
table{
    width: 75%;
}