{% extends "layout.html" %}
{% block content %}
<h3 id="hidden_stillaffect">Home</h3>
<div id="page_mainbody">
        <h3 id="page_header">Staff</h3>
        <div id="home_paragraph1">
                <p id="button_alt"><a href="{{ url_for('staff_add', failed=False) }}" class="nav_link" id="button_alt">Add Staff</a></p><br>
                <p></p>
                <table>
                    <tr>
                        <th>Database ID</th>
                        <th>Code</th>
                        <th>Teaching</th>
                        <th>Research</th>
                        <th>Admin</th>
                        <th>Total Hours</th>
                        <th>Notional Hours</th>
                        <th>Work Load</th>
                    </tr>
                    {% if staff_list is not none and staff_list|length > 0 %}
                        {% for item in staff_list %}
                            <tr>
                                <td>{{ item.staff_id }}</td>
                                <td>{{ item.staff_code }}</td>
                                <td>{{ item.staff_teaching }}</td>
                                <td>{{ item.staff_research }}</td>
                                <td>{{ item.staff_admin }}</td>
                                <td>{{ item.staff_total }}</td>
                                <td>1581</td>
                                <td class="workload">{{ item.staff_workload }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <p style="color: red;">There are no staff!</p>
                    {% endif %}
                </table>
                <br>
        </div>
</div>
<script src="{{ url_for('static', filename='scripts/workload.js') }}"></script>
{% endblock %}